{% extends 'base.html.twig' %}

{% block title %}{{ 'title.comments'|trans }}{% endblock %}

{% block header %}
    <li class="nav-item"><a href="/" class="nav-link">{{ 'nav.feed'|trans }}</a></li>
    <li class="nav-item"><a href="/users" class="nav-link">{{ 'nav.users'|trans }}</a></li>
    <li class="nav-item"><a href="/user_info" class="nav-link">{{ 'nav.account'|trans }}</a></li>
{% endblock %}

{% block body %}
    <div class="feed-layout">
        <section class="feed-panel">
            <a href="/" class="back-link">{{ 'comments.back_to_feed'|trans }}</a>

            <article class="feed-item featured-post">
                <div class="avatar">{{ first_article.author.username|slice(0, 1)|upper }}</div>
                <div class="feed-content">
                    <div class="feed-meta">
                        <strong>{{ first_article.author.username }}</strong>
                        <span>{{ first_article.createdAt.format("d.m.Y H:i") }}</span>
                    </div>
                    <p class="feed-text">{{ first_article.text }}</p>
                </div>
            </article>

            <div class="comments-toolbar">
                <h1>{{ 'comments.heading'|trans }} <span>{{ commentCount }}</span></h1>
                    {% if user %}
                        <button type="button" class="btn btn-primary" id="addCommentButton"
                                data-bs-toggle="modal" data-bs-target="#addCommentModal">{{ 'comments.reply'|trans }}
                        </button>
                    {% endif %}
            </div>

            {% if comments is empty %}
                <div class="empty-state">{{ 'comments.empty'|trans }}</div>
            {% else %}
                <div class="comment-list">
                    {% for comment in comments %}
                        <article class="comment-item">
                            <div class="avatar avatar-small">{{ comment.author.username|slice(0, 1)|upper }}</div>
                            <div class="feed-content">
                                <div class="feed-meta">
                                    <strong>{{ comment.author.username }}</strong>
                                    <span>{{ comment.createdAt.format("d.m.Y H:i") }}</span>
                                </div>
                                <p>{{ comment.comment }}</p>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            {% endif %}
        </section>
    </div>

    <div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="addCommentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCommentModalLabel">{{ 'comments.create_title'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="commentTextInput" class="form-label">{{ 'comments.comment_text'|trans }}</label>
                        <textarea class="form-control" id="commentTextInput" maxlength="512"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'button.close'|trans }}
                    </button>
                    <button type="button" class="btn btn-primary" id="addCommentSendButton">
                        {{ 'button.publish'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="articleId" data-id="{{ first_article.id }}"></div>
{% endblock %}
