{% extends 'base.html.twig' %}

{% block title %}{{ 'title.users'|trans }}{% endblock %}

{% block header %}
    <li class="nav-item"><a href="/" class="nav-link">{{ 'nav.feed'|trans }}</a></li>
    <li class="nav-item"><a href="/users" class="nav-link active">{{ 'nav.users'|trans }}</a></li>
    <li class="nav-item"><a href="/user_info" class="nav-link">{{ 'nav.account'|trans }}</a></li>
{% endblock %}

{% block body %}
    <section class="profile-panel">
        <div class="feed-title-row">
            <div>
                <p class="section-kicker">{{ 'users.kicker'|trans }}</p>
                <h1>{{ 'users.heading'|trans }}</h1>
            </div>
        </div>

        <div class="table-responsive">
        <table class="table table-hover align-middle user-table">
            <thead>
            <tr>
                <th scope="col">{{ 'field.username'|trans }}</th>
                <th scope="col">{{ 'field.first_name'|trans }}</th>
                <th scope="col">{{ 'field.last_name'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </section>

{% endblock %}
