{% extends 'base.html.twig' %}

{% block title %}User list!{% endblock %}

{% block header %}
    <li><a href="http://symfony.local:8080/article" class="nav-link px-2">Главная</a></li>
    <li><a href="http://symfony.local:8080/user" class="nav-link px-2 link-secondary">Пользователи</a></li>
    <li><a href="#" class="nav-link px-2">Мой профиль</a></li>
    <li><a href="http://symfony.local:8080/product" class="nav-link px-2">test_page</a></li>
{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        table { border: 1px solid black; border-collapse: collapse; }
        table td { border: 1px solid black; padding: 4px 8px; }
    </style>

    <div class="example-wrapper">
        <h1>Список пользователей!</h1>
        <table>
            <tr>
                <td>Уникальный идефенкциальный номер</td>
                <td>Имя пользователя</td>
                <td>Хэш пароля</td>
                <td>Имя пользователя</td>
                <td>Второе имя пользователя</td>
                <td>Логин для авторизации</td>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password_hash }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.auth_token }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
