{% extends 'base.html.twig' %}

{% block title %}{{ 'title.catalog'|trans }}{% endblock %}

{% block header %}
    <li class="nav-item"><a href="/" class="nav-link">{{ 'nav.feed'|trans }}</a></li>
    <li class="nav-item"><a href="/users" class="nav-link">{{ 'nav.users'|trans }}</a></li>
    <li class="nav-item"><a href="/user_info" class="nav-link">{{ 'nav.account'|trans }}</a></li>
    <li class="nav-item"><a href="/product" class="nav-link active">{{ 'nav.catalog'|trans }}</a></li>
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ 'catalog.heading'|trans }}</h1>
        <table>
            <tr>
                <td>{{ 'catalog.name'|trans }}</td>
                <td>{{ 'catalog.size'|trans }}</td>
                <td>{{ 'catalog.price'|trans }}</td>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.size }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        </table>
        <div style="padding: 10px">
            <button class="btn btn-lg btn-primary js-btn1">{{ 'catalog.primary_action'|trans }}</button>
            <button class="btn btn-lg btn-danger" id="btn2">{{ 'catalog.secondary_action'|trans }}</button>
        </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProductModal">
            {{ 'catalog.add_product'|trans }}
        </button>

        <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProductModalLabel">{{ 'catalog.add_product'|trans }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="productNameInput" class="form-label">{{ 'catalog.name'|trans }}</label>
                            <input type="text" class="form-control" id="productNameInput"
                                   placeholder="{{ 'catalog.name_placeholder'|trans }}">
                        </div>
                        <div class="mb-3">
                            <label for="productPriceInput" class="form-label">{{ 'catalog.price'|trans }}</label>
                            <input type="number" class="form-control" id="productPriceInput" placeholder="1000">
                        </div>
                        <div class="mb-3">
                            <label for="productSizeInput" class="form-label">{{ 'catalog.size'|trans }}</label>
                            <input type="number" class="form-control" id="productSizeInput" placeholder="38">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'button.close'|trans }}</button>
                        <button type="button" class="btn btn-primary" id="addProductSendButton">{{ 'button.add'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
